<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Examinator plus</h1>
        <nav>
            <a href="/">HOME</a>
            <a href="/quiz">GO TO QUIZ</a>
        </nav>
    </header>
