<%- include("./partials/header.ejs") %>
    <main>
        <h2>Main Quiz</h2>
        <div>
            <h3>The question is here</h3>
            <form action="/api/tests" method="POST">
                <label for="question">Blog title:</label>
                <input type="text" id="question" name="question" required>
                <label for="answer1">Blog snippet:</label>
                <input type="text" id="answer1" name="answer1" required>
                <label for="answer2">Blog body:</label>
                <textarea id="answer2" name="answer2" required></textarea>
                <label for="answer3">Blog body:</label>
                <textarea id="answer3" name="answer3" required></textarea>
                <label for="answer4">Blog body:</label>
                <textarea id="answer4" name="answer4" required></textarea>

                <button>Submit</button>
            </form>
        </div>


    </main>
   
<%- include('./partials/footer.ejs')