<%- include("./partials/header.ejs") %>
    <main>
        <h2>Main Quiz</h2>
        <div>
            <h3>The question is here</h3>
            <form action="/api/tests" method="POST">
                <label for="question">pregunta:</label>
                <textarea id="question" name="question" required></textarea>
                <label for="answer1">b:</label>
                <textarea id="answer1" name="answer1" required></textarea>
                <label for="answer2">b:</label>
                <textarea id="answer2" name="answer2" required></textarea>
                <label for="answer3">c:</label>
                <textarea id="answer3" name="answer3" required></textarea>
                <label for="answer4">d:</label>
                <textarea id="answer4" name="answer4" required></textarea>

                <button>Submit</button>
            </form>
        </div>


    </main>
   
<%- include('./partials/footer.ejs')  %>